/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }

    /* End of Josh's Custom CSS Reset */


@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{   
    background-color: whitesmoke;
    display: flex;
    font-family: Verdana, Helvetica, Tahoma, sans-serif;
}

.left {
    flex: 0 0 35%;
    height: 100vh;
    width: 85vb;
    background-image: url('photos/halie-west-25xggax4bSA-unsplash.jpg');
    background-clip: border-box;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    text-align: center;
    font-family: 'norsebold', sans-serif;
    font-size: 90px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20vh 0 50vh 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    height: 120;
    width: 100;
}

.left footer{
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    color: #fff
}

a {
    color: #fff;
}

a:hover {
    opacity: 0.8;
}

/* below are css styles for right hand side */

.right {
    flex: 1;
}

header {
    width: 80%;
    padding: 10vh 0 30px 7vb;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.callout {
    margin-top: 5vb;
}

main {
    background-color: #fff;
    padding: 10px 0 30px 7vb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 30px;
}

.right footer {
    width: 80%;
    padding: 7vh 0 30px 7vb;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.right footer a {
    color: #596D48;
    text-decoration: none;
}

.right footer a:hover {
    text-decoration: underline;
}

.login {
    margin-top: 3vh;
    font-size: 1rem;
}

button {
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 30vb;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* below are styles for the form */

.right form {
    width: 70%;
    display: flex;
    font-size: 0.8rem;
    /* justify-content: flex-end; */
    gap: 80px;
    letter-spacing: 2px;
}

form div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    height: 35px;
    font-size: 1rem;
    margin-bottom: 15px;
    flex: 1, 1, 70%;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 0 0 10px;
    /* padding-left: 7px; */
    outline: none;
}


input:focus {
    border: 2px solid #002fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

input:invalid {
    border: 2px solid #ff0000;
}